@import "~bootstrap/scss/bootstrap";

$default-bg-color: rgb(40, 44, 52);
$input-bg-color: rgb(36, 40, 46);
$input-bg-color-disabled: rgb(32, 36, 42);
$input-border-color: rgba(65, 65, 65, 0.24);
$text-color-normal: rgb(210, 210, 210);
$text-color-darken: rgb(190, 190, 190);
$text-color-black: rgb(5, 81, 96);
$text-color-black-lighten: rgb(65, 141, 156);

a {
  color: $text-color-normal;
}

a:hover {
  color: $text-color-darken;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $default-bg-color;
  color: $text-color-normal;
  font-size: calc(10px + 2vmin);
}
// For hiding arrows in input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
//
.App {
  text-align: center;
  background-color: $default-bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color-normal;
}

.page-content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal .modal-content,
.modal .modal-header,
.modal .modal-footer {
  background-color: $default-bg-color;
  color: $text-color-normal;
  border-style: none;
}

.accordion .accordion-button {
  background-color: #40516b;
  color: $text-color-normal;
}

.accordion .collapsed {
  background-color: $input-bg-color;
  color: $text-color-normal;
}

.accordion .accordion-item {
  background-color: $input-bg-color;
  color: $text-color-normal;
}

.accordion .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e1e1e1'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-control,
.form-control[readonly],
.form-control:focus {
  background-color: $input-bg-color;
  border: 1px solid $input-border-color;
  color: $text-color-normal;
}

.form-control:disabled {
  background-color: $input-bg-color-disabled;
  color: $text-color-normal;
}

.btn-outline-light {
  border-color: $input-border-color;
}

.navbar-dark {
  background-color: $default-bg-color;
}

input.form-range::-moz-range-track {
  background-color: $input-bg-color;
}

input.form-range::-ms-track {
  background-color: $input-bg-color;
}

input.form-range::-webkit-slider-runnable-track {
  background-color: $input-bg-color;
}

span.input-group-text {
  background-color: $input-bg-color-disabled;
  border: 1px solid $input-border-color;
  color: $text-color-normal;
}

a#special-alert-link {
  color: $text-color-black;
}

a#special-alert-link:hover {
  color: $text-color-black-lighten;
}
