$font-size-base: 1.1rem;

@import "~bootstrap/scss/bootstrap";

.fs-0 {
  font-size: $font-size-base * 3.25;
}
$default-bg-color: rgb(40, 44, 52);
$input-bg-color: rgb(36, 40, 46);
$input-bg-color-disabled: scale-color($input-bg-color, $lightness: -20%);
$input-border-color: rgba(65, 65, 65, 0.24);
$text-color-normal: rgb(210, 210, 210);
$text-color-darken: scale-color($text-color-normal, $lightness: -10%);

a {
  color: $text-color-normal;
}

a:hover {
  color: $text-color-darken;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $default-bg-color;
  color: $text-color-normal;
}
// For hiding vertical arrows in number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  -moz-appearance: textfield;
}
//

.himitsu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.himitsu-popups {
  position: absolute;
  top: 69px !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.modal .modal-content,
.modal .modal-header,
.modal .modal-footer {
  background-color: $default-bg-color;
  color: $text-color-normal;
  border-style: none;
}

.accordion {
  .accordion-button {
    background-color: $input-bg-color-disabled;
    color: $text-color-normal;
  }
  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e1e1e1'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .collapsed {
    background-color: $input-bg-color;
    color: $text-color-normal;
  }

  .accordion-item {
    background-color: $input-bg-color-disabled;
  }
}

.form-control,
.form-control[readonly],
.form-control:focus {
  background-color: $input-bg-color;
  border: 1px solid $input-border-color;
  color: $text-color-normal;
}

.form-control:disabled {
  background-color: $input-bg-color-disabled;
  color: $text-color-normal;
}

.btn-outline-light {
  background-color: $input-bg-color;
  border: 1px solid $input-border-color;
}

.navbar-dark {
  background-color: $default-bg-color;
}

input.form-range::-moz-range-track {
  background-color: $input-bg-color;
}

input.form-range::-ms-track {
  background-color: $input-bg-color;
}

input.form-range::-webkit-slider-runnable-track {
  background-color: $input-bg-color;
}

span.input-group-text {
  background-color: $input-bg-color-disabled;
  border: 1px solid $input-border-color;
  color: $text-color-normal;
}

a#special-alert-link {
  color: rgb(5, 81, 96);
}

a#special-alert-link:hover {
  color: rgb(65, 141, 156);
}
