.fs-0 {
  font-size: 4rem;
}

/// render button as link (<a>)
.btn-anchor {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.toast-alert {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;

  div:first-child {
    margin: 0 !important;
  }
}

// the outline variant will stay active once focused
// which is bad for mobile view because when clicked
// it will stay focused
.btn-secondary.inactive {
  // hence this .inactive
  background-color: transparent;
  color: var(--bs-btn-bg);
}
