$font-size-base: 1.1rem;

.fs-0 {
  font-size: $font-size-base * 3.25;
}

.btn-anchor {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --himitsu-body-bg: black;
}

.himitsu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.himitsu-popups {
  position: absolute;
  top: 69px !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 420;
}

// variables
$body-bg-color: var(--himitsu-body-bg);
$bg-color: var(--himitsu-bg);
$input-bg-color: var(--himitsu-input-bg);
$input-bg-color-disabled: var(--himitsu-input-disabled-bg);
$input-border-color: var(--himitsu-input-border);
$text-color-normal: var(--himitsu-color);
$text-color-darken: var(--himitsu-color-darken);
//

.default-input-color * {
  background-color: $input-bg-color;
  color: $text-color-normal;
}

// items
html {
  background-color: $body-bg-color;
  color: $text-color-normal;
}

.navbar {
  background-color: $body-bg-color;
}

a, .link-light {
  color: $text-color-normal;

  &:hover {
    color: $text-color-darken;
  }
}

.form-control,
.form-control[readonly],
.form-control:focus {
  background-color: $input-bg-color;
  border: 1px solid $input-border-color;
  color: $text-color-normal;
}

.form-control:disabled {
  background-color: $input-bg-color-disabled;
  border: 1px solid $input-border-color;
  color: $text-color-normal;
}

.modal .modal-content,
.modal .modal-header,
.modal .modal-footer {
  background-color: $bg-color;
  color: $text-color-normal;
  border-style: none;
}

.accordion {
  .accordion-button {
    background-color: $input-bg-color-disabled;
    color: $text-color-normal;
  }
  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e1e1e1'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .collapsed {
    background-color: $input-bg-color;
    color: $text-color-normal;
  }

  .accordion-item {
    background-color: $input-bg-color-disabled;
  }
}

.btn-outline-light {
  background-color: $input-bg-color;
  border: 1px solid $input-border-color;
}

input.form-range::-moz-range-track {
  background-color: $input-bg-color;
}

input.form-range::-ms-track {
  background-color: $input-bg-color;
}

input.form-range::-webkit-slider-runnable-track {
  background-color: $input-bg-color;
}

span.input-group-text {
  background-color: $input-bg-color-disabled;
  border: 1px solid $input-border-color;
  color: $text-color-normal;
}

//

a#special-alert-link {
  color: rgb(5, 81, 96);
}

a#special-alert-link:hover {
  color: rgb(65, 141, 156);
}
